[Desktop Entry]
Type=Application
Name=Launch Live Mapping
Exec=gnome-terminal -- /home/$USER/handheld_mapper/scripts/handheld_live_mapping.sh
Terminal=true
Icon=utilities-terminal
Categories=Utility;
