[Desktop Entry]
Type=Application
Name=Record FAST-LIVO2
Comment=Launch handheld mapping system with RViz visualization
Exec=gnome-terminal -- /home/nvidia/handheld_mapper/scripts/handheld_mapping_record_rosbag.sh
Terminal=true
Icon=utilities-terminal
Categories=Utility;Development;
